<section class="row">
  <div class="text-center">
    <h3 class="my-3">Dashboard</h3>
  </div>
  <Campaign
    @objective={{@model.objective}}
    @campaign={{@model.campaign}}
    @insight={{@model.insight}}
  />
</section>
{{outlet}}